<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.nuautotest.Activity"
          android:versionCode="3"
          android:versionName="@string/version"
          android:sharedUserId="android.uid.system">

	<uses-sdk android:targetSdkVersion="21"
	          android:minSdkVersion="17"/>

	<uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.BLUETOOTH"/>
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.CALL_PHONE"/>
	<uses-permission android:name="android.permission.CALL_PRIVILEGED"/>
	<uses-permission android:name="android.permission.CAMERA"/>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.DEVICE_POWER"/>
	<uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES"/>
	<uses-permission android:name="android.permission.READ_CALL_LOG"/>
	<uses-permission android:name="android.permission.READ_CONTACTS"/>
	<uses-permission android:name="android.permission.READ_LOGS"/>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"/>
	<uses-permission android:name="android.permission.REBOOT"/>
	<uses-permission android:name="android.permission.RECORD_AUDIO"/>
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
	<uses-permission android:name="android.permission.VIBRATE"/>
	<uses-permission android:name="android.permission.WAKE_LOCK"/>
	<uses-permission android:name="android.permission.WRITE_CALL_LOG"/>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS"/>
	<uses-permission android:name="android.permission.WRITE_SETTINGS"/>

	<uses-feature android:name="android.hardware.usb.accessory"/>
	<uses-feature android:name="android.hardware.usb.host"/>

	<!--android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen"-->
	<application
			android:icon="@drawable/ic_launcher"
			android:label="@string/app_name"
			android:allowBackup="true">

		<!--
				<receiver
						android:name=".BootCompleteReceiver"
						android:label="@string/app_name">
					<intent-filter>
						<action android:name="android.intent.action.BOOT_COMPLETED"/>
					</intent-filter>
				</receiver>
		-->

		<activity android:name="com.nuautotest.Activity.NuAutoTestActivity"
		          android:label="@string/app_name"
		          android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>
				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity android:name=".ButtonTestActivity"
		          android:label="@string/button_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".GSensorTestActivity"
		          android:label="@string/gsensor_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".LightSensorTestActivity"
		          android:label="@string/lightsensor_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".CompassTestActivity"
		          android:label="@string/compass_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".SDTestActivity"
		          android:label="@string/sd_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".ChargerTestActivity"
		          android:label="@string/charger_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".HDMITestActivity"
		          android:label="@string/hdmi_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".BackLightTestActivity"
		          android:label="@string/backlight_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".AudioTestActivity"
		          android:label="@string/audio_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".BatteryTestActivity"
		          android:label="@string/battery_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".USBTestActivity"
		          android:label="@string/usb_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".CameraTestActivity"
		          android:label="@string/front_camera_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".GPSTestActivity"
		          android:label="@string/gps_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".WifiTestActivity"
		          android:label="@string/wifi_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".BlueToothTestActivity"
		          android:label="@string/bluetooth_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".TPTestActivity"
		          android:label="@string/tp_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".VibratorTestActivity"
		          android:label="@string/vibrator_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".LCDTestActivity"
		          android:label="@string/lcd_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".HeadsetTestActivity"
		          android:label="@string/headset_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".FlashlightTestActivity"
		          android:label="@string/flashlight_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>

		<activity android:name=".SuspendResumeTestActivity"
		          android:label="@string/suspendresume_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<receiver android:name="com.nuautotest.BroadcastReceiver.NSDeviceAdminReceiver"
		          android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data android:name="android.app.device_admin"
			           android:resource="@xml/ns_device_admin"/>
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED"/>
			</intent-filter>
		</receiver>

		<activity android:name=".FactoryResetTestActivity"
		          android:label="@string/factoryreset_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".PhoneTestActivity"
		          android:label="@string/phone_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".FMTestActivity"
		          android:label="@string/fm_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".DeviceInfoActivity"
		          android:label="@string/device_info"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".LEDTestActivity"
		          android:label="@string/led_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".ProximitySensorTestActivity"
		          android:label="@string/proximitysensor_test"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".TestStatusActivity"
		          android:label="@string/test_status"
		          android:parentActivityName=".NuAutoTestActivity"
		          android:screenOrientation="portrait"/>
		<activity android:name=".ModeSelectActivity"
				  android:parentActivityName=".NuAutoTestActivity"
				  android:screenOrientation="portrait"/>
	</application>
</manifest>